<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello world!!!</h1>

<div class="entry">
<p>国产<span class="wp_keywordlink_affiliate"></span>《捉妖记》讲述的是上一集与胡巴分别后，天荫带着小岚踏上寻父之路，在义薄云天的天师堂堂主云大哥的帮助下，二人得知天荫父亲宋戴天的护妖轨迹；而重回永宁村的胡巴再度被妖王追杀，颠沛流离逃亡时结识大赌徒屠四谷和一只妖怪，三人一起过着相依为命的生活，但又因屠四谷欠下的巨额赌债横生诸多波折。与此同时，江湖盛传小妖王胡巴的重金悬赏令，妖界大军、天师精英、绿林草莽闻风而动，多方势力为抢夺胡巴在清水镇掀起腥风血雨。千钧一发之际，念子心切的天荫和小岚通过天师堂找到胡巴并一起逃离险境。岂料，一场更大的惊天阴谋尾随而至，伺机而动……</p>
<p><img alt="《捉妖记》迅雷下载" border="0" height="498" src="http://www.lbldy.com/image/2018/01/6111106.jpg" style="display: inline; border: 0px;" title="《捉妖记》迅雷下载" width="350"/></p>
<p>片名：<br/>
又名: Monster Hunt 2<br/>
类型: <span class="wp_keywordlink_affiliate"></span> / <span class="wp_keywordlink_affiliate"></span><br/>
制片国家/地区: 中国大陆<br/>
<span class="wp_keywordlink_affiliate"></span>: <br/>
<span class="wp_keywordlink_affiliate"><a href="http://www.youjiady.com/" target="_blank" title="在线电影">在线电影</a></span>: <a href="http://www.youjiady.com/">http://www.youjiady.com/</a><br/>
语言: 汉语普通话<br/>
上映日期: 2018-02-16(中国大陆)<br/>
IMDb链接: tt6170484<br/>
导演: 许诚毅<br/>
编剧: 袁锦麟<br/>
主演: 梁朝伟 / 白百何 / 井柏然 / 李宇春 / 杨祐宁 / 更多.<a href="http://www.youjiady.com" rel="noopener" target="_blank">..</a></p>
<p>预告片：</p>
<p><iframe allowfullscreen="allowfullscreen" frameborder="0" height="498" src="http://player.youku.com/embed/XMzIyNTYzNjQ4NA==" width="510"></iframe></p>
<p>下载地址：</p>
<p>迅雷链：<a href="thunder://QUFmdHA6Ly82dmhhby50djo2dmhhby50dkBmdHAuNjZ5cy5vcmc6MjYyOS9aWUoyLjEwODBwLkhEufrT79bQ19Zb1+7QwrXn07B3d3cuNnZoYW8udHZdLm1wNFpa/">捉妖记2.1080p.HD国语中字.mp4</a></p>
<p>电驴：<a href="ed2k://|file|ZYJ2.1080p.HD%E5%9B%BD%E8%AF%AD%E4%B8%AD%E5%AD%97[%E6%9C%80%E6%96%B0%E7%94%B5%E5%BD%B1www.lbldy.com].mp4|2587603784|67FDB66D4BF8F46D524C5D8D3F14F984|h=VJX46O3C2BPQNVMNFOJI3PXXPZSA4EOV|/">捉妖记2.1080p.HD国语中字.mp4</a></p>
<p>电驴：<a href="ed2k://|file|ZYJ2.1080p.HD%E5%9B%BD%E8%AF%AD%E4%B8%AD%E5%AD%97[%E6%9C%80%E6%96%B0%E7%94%B5%E5%BD%B1www.lbldy.com].mp4|2595241191|93034E790A5F0B76B46F396F125DA9E5|h=VACTLH3ZHGIGLMU3OH4SM4LZV46JX2CV|/">捉妖记2.1080p.HD国语中字.mp4</a></p>
<p>电驴：<a href="ed2k://|file|ZYJ2.1080p.H265.HD%E5%9B%BD%E8%AF%AD%E4%B8%AD%E5%AD%97[%E6%9C%80%E6%96%B0%E7%94%B5%E5%BD%B1www.lbldy.com].mp4|2587349536|2BBFBCA1C2F14EAE165118C959DC8E00|h=Z2HW45SNU6OQXNR4D6YK5KCUD3PUUA2P|/">捉妖记2.1080p.H265.HD国语中字.mp4</a></p>
<p>电驴：<a href="ed2k://|file|ZYJ2.4K.HD%E5%9B%BD%E8%AF%AD%E4%B8%AD%E5%AD%97[%E6%9C%80%E6%96%B0%E7%94%B5%E5%BD%B1www.lbldy.com].mp4|5640205732|86064AD050C8D832CF5B7C9EB144E2AC|h=3FKN252V7AXE25SV5AEEWZ45EIQJ3QGV|/">捉妖记2.4K.HD国语中字.mp4</a></p>
<p>电驴：<a href="ed2k://|file|ZYJ2.4K.H265.HD%E5%9B%BD%E8%AF%AD%E4%B8%AD%E5%AD%97[%E6%9C%80%E6%96%B0%E7%94%B5%E5%BD%B1www.lbldy.com].mp4|4186055833|9F7DBB6E35B43A21A031055FB9F66674|h=R2BRZJDJPUNSDWYRBSNAGGUHWCQVMQTR|/">捉妖记2.4K.H265.HD国语中字.mp4</a></p>
<div class="old-message">【出错提醒】因迅雷版权限制无法下载请尝试<font color="#CC0000">MYDM</font>/百度网盘/115离线/BT彗星/迅雷5.8版等 <a href="/xzxz/" target="_blank"><font color="#CC0000">下载教程</font></a><p>【手机观看】电驴/磁力/BT种子等均可添加到百度网盘/115网盘离线下载,手机观看/敏感资源均可尝试</p></div>
<p></p>
</div>
</body>
</html>